@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,700");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ::::::::::::::::::::-RULES-:::::::::::::::::::: */
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr auto auto;
  grid-template-areas: "header" "main" "footer";
}

/* _-_HEADER_-_ */
header {
  background-color: #181619;
  padding: 0 0 0rem 0;
  top: 0;
  z-index: 2;
  grid-area: header;
  box-shadow: -2px 2px 2px 2px rgba(24, 22, 25, 0.8470588235), 2px 2px 2px 2px rgba(24, 22, 25, 0.8470588235), -5px 5px 5px 5px rgba(24, 22, 25, 0.6156862745), 5px 5px 5px 5px rgba(24, 22, 25, 0.6156862745), 8px 8px 8px 8px rgba(24, 22, 25, 0.3647058824);
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.titulo {
  font-family: "pirata one", sans-serif;
  text-align: center;
  color: rgb(179, 0, 0);
  margin: 0 0 1.3rem 0;
  font-size: 420%;
  text-shadow: 3px 3px rgba(138, 0, 0, 0.5058823529), 5px 5px rgba(56, 0, 0, 0.39);
  animation: fly 2s infinite;
  animation-timing-function: ease-in-out;
}
@keyframes fly {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0px);
  }
}

.nav_bar_uno {
  margin: 10px 10px 0 10px;
  text-align: center;
}

.nav_bar_dos {
  font-size: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.color_a {
  color: #e4ded0;
  font-family: "bokor", sans-serif;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 120%;
  text-shadow: 2px 2px rgba(102, 102, 102, 0.5960784314), 3px 3px rgba(49, 49, 49, 0.315);
}
.color_a:hover {
  color: #800c03;
  text-decoration: line-through;
  text-shadow: 2px 2px rgba(85, 0, 0, 0.5058823529), 3px 3px rgba(73, 0, 0, 0.39);
}

.search {
  width: 300px;
  height: 31px;
  margin: 15px auto;
  background: #444;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.068);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.137), 1px 1px 10px rgba(0, 0, 0, 0.137), -1px -1px 10px rgba(0, 0, 0, 0.137), -1px -1px 10px rgba(0, 0, 0, 0.137), -1px 1px 10px rgba(0, 0, 0, 0.137), 1px -1px 10px rgba(0, 0, 0, 0.137), 1px -1px 10px rgba(0, 0, 0, 0.137), -1px 1px 10px rgba(0, 0, 0, 0.137);
}
.search .input_search {
  width: 172px;
  padding: 2.5px 9px;
  float: left;
  color: #ccc;
  border: 0;
  background: transparent;
  border-radius: 3px 0 0 3px;
}
.search .input_search:focus {
  outline: 0;
  background: transparent;
}
.search .button_search {
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 30px;
  width: 75px;
  color: #ccc;
  background: transparent;
  border-left: 1px solid rgba(58, 58, 58, 0.2);
  border-radius: 0 3px 3px 0;
  transition: color, background 0.5s;
}
.search .button_search:hover {
  color: #33383b;
  background: #cfcfcf;
}
.search .button_search:active {
  box-shadow: 0px 0px 12px 0px rgb(225, 225, 225);
}
.search .button_search:focus {
  outline: 0;
}

.buscador_dos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

/* _-_MAIN_-_ */
.main_inicio {
  background-image: url("../images/susan-wilkinson-negro2.webp");
  background-size: cover;
  background-position: center;
}

.titulo_centrado {
  text-align: center;
  padding: 20px 0 0 0;
  margin: 0 0 2rem 0;
  background-color: black;
  color: white;
  font-size: 120%;
  font-family: "Vollkorn", serif;
  text-shadow: 2px 2px rgba(117, 117, 117, 0.658);
  box-shadow: -2px 2px 2px 2px rgba(0, 0, 0, 0.959), 2px 2px 2px 2px rgba(0, 0, 0, 0.966), -5px 5px 5px 5px rgba(0, 0, 0, 0.719), 5px 5px 5px 5px rgba(0, 0, 0, 0.678), 8px 8px 8px 8px rgba(0, 0, 0, 0.493);
}

.container-carousel {
  max-width: 100rem;
  margin: 0 auto 3rem auto;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.12), 10px 10px 10px rgba(0, 0, 0, 0.24), -10px -10px 10px rgba(0, 0, 0, 0.12), -10px -10px 10px rgba(0, 0, 0, 0.24), -10px 10px 10px rgba(0, 0, 0, 0.12), 10px -10px 10px rgba(0, 0, 0, 0.24), 10px -10px 10px rgba(0, 0, 0, 0.12), -10px 10px 10px rgba(0, 0, 0, 0.24);
}

.carousel-inner {
  max-width: 1600px;
  margin: 0 auto;
}

.carousel-item img {
  width: 100%;
}

.imagenes_inicio {
  width: 14rem;
  margin: 2rem 10rem;
  max-width: 100%;
}

.imagenes_inicio_dos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

/* pruebaaaaaaaaaa */
.imagenes_inicio3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.imagenes_inicio4 {
  width: 14rem;
  margin: 1rem 0;
  max-width: 100%;
  border-radius: 0.2rem;
}

.imagenes_inicio5 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.p_imagenes {
  color: rgb(179, 0, 0);
  font-size: 200%;
}

/* a */
.body_wrapper {
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  padding: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: rgba(255, 255, 255, 0.9098039216);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.12), 10px 10px 10px rgba(0, 0, 0, 0.24);
  margin: 4rem 1rem 1rem 1rem;
}

.primer_section_inicio {
  margin: 3rem 0 0 0;
}

.body_inner_left_holder {
  width: 50%;
  margin: 0 2px;
  padding-top: 10px;
}

.body_inner_left {
  width: 100%;
  border-radius: 3px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.137), 3px 3px 10px rgba(0, 0, 0, 0.137), -3px -3px 10px rgba(0, 0, 0, 0.137), -3px -3px 10px rgba(0, 0, 0, 0.137), -3px 3px 10px rgba(0, 0, 0, 0.137), 3px -3px 10px rgba(0, 0, 0, 0.137), 3px -3px 10px rgba(0, 0, 0, 0.137), -3px 3px 10px rgba(0, 0, 0, 0.137);
}

.body_inner_right {
  display: flex;
  width: 50%;
  justify-content: flex-start;
  float: right;
  flex-direction: column;
  text-align: center;
  margin: 0 10px;
}

.size_h3_inicio {
  font-size: 250%;
  padding: 0 0 0.5rem 0;
  color: rgb(179, 0, 0);
  text-shadow: 1px 1px rgba(39, 39, 39, 0.3960784314);
  animation: fly 2s infinite;
  animation-timing-function: ease-in-out;
}
@keyframes fly {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0px);
  }
}

.size_p_inicio {
  color: rgba(7, 7, 7, 0.959);
  font-size: 65%;
  text-align: left;
  font-family: "Libre Baskerville", serif;
  text-shadow: 0.3px 0.3px rgba(90, 90, 90, 0.3960784314);
}

.sobre_suspicions3 {
  font: normal 42px "pirata one", cursive;
  font-size: 140%;
}

/* a */
/* pruebaaaaaaaaaa */
/* _-_FOOTER_-_ */
/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */
@media (max-height: 800px) {
  footer {
    position: static;
  }
}
.footer-distributed {
  background-color: #181619;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer izquierda */
.footer-distributed .footer-left {
  width: 30%;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "cookie", cursive;
  margin: 0;
}

.sobre_suspicions2 {
  font: normal 42px "pirata one", cursive;
}

.sobre_suspicions1 {
  font: normal 25px "lobster", cursive;
}

/* logo */
.footer-distributed .footer-left img {
  width: 30%;
}

.footer-distributed h3 span {
  color: rgb(179, 0, 0);
}

/* Footer links */
.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* footer centro */
.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: rgb(179, 0, 0);
  text-decoration: none;
}

/* Footer derecha */
.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.fa_color {
  color: rgb(179, 0, 0);
}
.fa_color:hover {
  animation: shadow-drop-center 0.4s linear both;
}
@keyframes shadow-drop-center {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  100% {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.55);
  }
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: rgba(27, 26, 26, 0.562);
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}
.footer-distributed .footer-icons a:hover {
  animation: shadow-drop-center 0.4s linear both;
}
@keyframes shadow-drop-center {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  100% {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.55);
  }
}

/* Codigo Responsive Footer */
@media (max-width: 880px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */
.contacto {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  font-size: 120%;
}

.color_contacto {
  color: #3bb1ff;
  text-decoration: none;
  transition: color 1s;
}
.color_contacto:hover {
  text-decoration: underline;
  color: rgb(50, 241, 255);
}

/* aaaaaaaaaa */
/* aaaaaaaaaa */
/* .................... Contacto .................... */
.main_contacto {
  background-image: url("../images/Fondo_contacto_mar_oscuro.webp");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.p_contacto {
  font-size: 120%;
  font-family: "Libre Baskerville", serif;
  text-align: center;
  margin: 3rem 0 3rem 0;
  text-shadow: 0.8px 0.8px rgba(24, 24, 24, 0.5058823529), 1.5px 1.5px rgba(59, 59, 59, 0.39);
}

.flex_contacto {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.p_suspicions_contact_page {
  font-size: 4rem;
  font-family: "pirata one", sans-serif;
  text-shadow: 3px 3px rgba(24, 24, 24, 0.5058823529), 5px 5px rgba(59, 59, 59, 0.39);
}

.suspicions_contact_page {
  display: flex;
  justify-content: center;
}

.logos_contact_page {
  margin: 2rem 1rem 3rem 1rem;
  font-size: 2rem;
  text-shadow: 2px 2px rgba(24, 24, 24, 0.5058823529), 3px 3px rgba(59, 59, 59, 0.39);
}

.logos_contact_page2 {
  color: #292929;
}

.redes_contacto {
  font-size: 130%;
  text-decoration: none;
}

.margin_contacto {
  padding: 0 10rem 0 10rem;
}

.margin_contacto2 {
  font-family: "Libre Baskerville", serif;
  width: 300px;
  text-align: center;
  padding: 1rem 0 1rem 0;
  font-size: 120%;
  text-shadow: 0.8px 0.8px rgba(24, 24, 24, 0.5058823529), 1.5px 1.5px rgba(59, 59, 59, 0.39);
}

.margin_contacto3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logo_pequeno {
  width: 3rem;
  margin: 1rem 1rem;
  max-width: 100%;
}

.form_contact_page {
  width: 320px;
  height: 570px;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000000;
  margin: calc(50vh - 320px) auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.h2_contact_page {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: #78788c;
  border-bottom: 3px solid #78788c;
}

.input_contact_page {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
}

.input_contact_page:focus {
  border-bottom: 2px solid #78788c;
}

.p_contact_page:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #5a5a5a;
}

.button_contact_page {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all 0.3s;
}

.button_contact_page:hover {
  background: #78788c;
  color: #fff;
}

.div_contact_page {
  content: "Hi";
  position: absolute;
  bottom: -25px;
  right: -10px;
  background: #50505a;
  color: #fff;
  width: 340px;
  padding: 16px 4px 16px 0;
  border-radius: 6px;
  font-size: 13px;
  box-shadow: 10px 10px 40px -14px #000;
}

.span_contact_page {
  margin: 0 5px 0 15px;
}

/* .................... TIENDA .................... */
.main_ventas {
  background-image: url("../images/susan-wilkinson-azul2.webp");
  background-size: cover;
  background-position: center;
  border-radius: 0;
}

.articulos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  flex: 0 1 180px;
  height: 360px;
  border: 1px solid rgba(0, 0, 0, 0.137);
  border-radius: 1rem;
  padding: 1rem;
}

.tienda_subtitulo {
  margin: auto;
  padding: 20px 0 20px 0;
  font-family: "pirata one", cursive;
  text-decoration: underline 3px rgb(179, 0, 0);
  text-shadow: 1px 1px rgba(24, 24, 24, 0.5058823529), 2px 2px rgba(59, 59, 59, 0.39);
}

.seccion_venta {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.ultima_seccion_venta {
  margin: 0 0 1rem 0;
}

.articulos_color {
  background-color: white;
  font-size: 120%;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.137), 3px 3px 10px rgba(0, 0, 0, 0.207), -3px -3px 10px rgba(0, 0, 0, 0.207), -3px -3px 10px rgba(0, 0, 0, 0.207), -3px 3px 10px rgba(0, 0, 0, 0.207), 3px -3px 10px rgba(0, 0, 0, 0.207), 3px -3px 10px rgba(0, 0, 0, 0.207), -3px 3px 10px rgba(0, 0, 0, 0.207);
}

.articulos .buzos {
  order: -1;
  align-self: center;
}

.articulos button {
  background: black;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.articulos .a_comprar {
  background: rgb(92, 92, 92);
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  font-size: 0.9rem;
  cursor: pointer;
}
.articulos .a_comprar:hover {
  animation: shadow-drop-center 0.4s linear both;
}
@keyframes shadow-drop-center {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  100% {
    box-shadow: 0 0 20px 0 rgba(8, 8, 8, 0.55);
  }
}

.tienda_espacio {
  margin: 0 0 0.8rem 0;
  text-align: center;
  font-size: 90%;
}

.tienda_titulo {
  text-decoration: underline;
  color: black;
  font-size: 100%;
}

.info_compras {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.divisor_tienda {
  font-size: 500%;
  display: flex;
  justify-content: flex-start;
  float: right;
  flex-direction: column;
  text-align: center;
  margin: 0 5rem;
}

.container_tienda {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

#features {
  margin-top: 30px;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.grid {
  display: flex;
}

#features {
  margin-top: 30px;
}

#features .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
  color: darkorange;
}

@media (max-width: 550px) {
  #features .icon {
    display: none;
  }
}
#features .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
}

@media (max-width: 550px) {
  #features .desc {
    width: 100%;
    text-align: center;
    padding: 0;
    height: 150px;
  }
}
@media (max-width: 650px) {
  #features {
    margin-top: 0;
  }
}
/* .................... MEDIA .................... */
@media (min-width: 1100px) {
  .nav_bar_uno {
    margin: 1rem 0rem 0 0rem;
  }
  .nav_bar_dos {
    font-size: 160%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
  }
}
@media (min-width: 800px) {
  header {
    background-color: #181619;
    padding: 0 0 0 0;
    position: sticky;
    top: 0;
    z-index: 2;
    grid-area: header;
  }
  .titulo {
    font-size: 5rem;
    margin: auto;
  }
  .nav_bar_uno {
    margin: 1rem 1.5rem 0 1.5rem;
  }
  .nav_bar_dos {
    font-size: 160%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
  }
  .search {
    width: 500px;
    height: 41px;
    margin: 15px auto;
    background: #444;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.068);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.137), 1px 1px 10px rgba(0, 0, 0, 0.137), -1px -1px 10px rgba(0, 0, 0, 0.137), -1px -1px 10px rgba(0, 0, 0, 0.137), -1px 1px 10px rgba(0, 0, 0, 0.137), 1px -1px 10px rgba(0, 0, 0, 0.137), 1px -1px 10px rgba(0, 0, 0, 0.137), -1px 1px 10px rgba(0, 0, 0, 0.137);
  }
  .search .input_search {
    width: 370px;
    padding: 6.5px 10px;
    float: left;
    color: #ccc;
    border: 0;
    background: transparent;
    border-radius: 3px 0 0 3px;
  }
  .search .input_search:focus {
    outline: 0;
    background: transparent;
  }
  .search .button_search {
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 120px;
    color: #ccc;
    background: transparent;
    border-left: 1px solid rgba(58, 58, 58, 0.2);
    border-radius: 0 3px 3px 0;
    transition: color, background 0.5s;
  }
  .search .button_search:hover {
    color: #33383b;
    background: #cfcfcf;
  }
  .search .button_search:active {
    box-shadow: 0px 0px 12px 0px rgb(225, 225, 225);
  }
  .search .button_search:focus {
    outline: 0;
  }
  .titulo_centrado {
    text-align: center;
    padding: 1.4rem 0 0 0;
    font-size: 160%;
    background-color: black;
    color: white;
  }
  .primer_section_inicio {
    margin: 15rem 0 0 0;
  }
  .body_wrapper {
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.9098039216);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.12), 10px 10px 10px rgba(0, 0, 0, 0.24);
    margin: 4rem 2rem 2rem 2rem;
  }
  .primer_section_inicio {
    margin: 15rem 0 0 0;
  }
  .body_inner_left_holder {
    width: 33.333%;
    margin: 0 2px;
    padding-top: 10px;
  }
  .body_inner_left {
    width: 100%;
    border-radius: 5px;
  }
  .body_inner_right {
    display: flex;
    width: 66.666%;
    justify-content: flex-start;
    float: right;
    flex-direction: column;
    text-align: center;
    margin: 0 5rem;
  }
  .size_h3_inicio {
    font-size: 250%;
    padding: 0 0 3rem 0;
    color: rgb(179, 0, 0);
    text-shadow: 2px 2px rgba(39, 39, 39, 0.3960784314);
  }
  .size_p_inicio {
    color: rgba(7, 7, 7, 0.959);
    font-size: 120%;
    text-align: left;
    font-family: "Libre Baskerville", serif;
    text-shadow: 1.3px 1.3px rgba(90, 90, 90, 0.3960784314);
  }
  /* footer */
  /* footer */
  .imagenes_inicio_dos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    height: auto;
  }
  .flex_icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0.6rem 0 0 0;
    font-size: 130%;
  }
  .flex_contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .p_ig {
    padding: 0 4rem 0 0;
  }
  .logo_ig {
    color: #ff5f7c;
    padding: 0 1rem;
    margin: 0 0 0 7rem;
  }
  .p_wpp {
    padding: 0 4rem 0 0;
  }
  .logo_wpp {
    color: #20c67a;
    padding: 0 1rem;
    margin: 0 0 0 12rem;
  }
  .contacto {
    display: flex;
    justify-content: center;
    font-size: 120%;
    margin: 0 0 0.8rem 0;
  }
  .logo_pequeno {
    width: 5rem;
    margin: 5rem 1rem;
    max-width: 100%;
  }
  .logo_contacto {
    height: 6rem;
    width: 6rem;
  }
  .tienda_subtitulo {
    margin: 2rem 0 1rem 0;
    font-family: "pirata one", cursive;
    text-decoration: underline 3px rgb(179, 0, 0);
  }
  .seccion_venta {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
  }
  .ultima_seccion_venta {
    margin: 0 0 3rem 0;
  }
  .articulos_color {
    background-color: white;
    font-size: 120%;
  }
  .articulos {
    display: flex;
    flex: 0 1 300px;
    height: 34rem;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.137);
    border-radius: 10px;
    padding: 2rem;
    flex-wrap: wrap;
  }
  .articulos .buzos {
    order: -1;
    align-self: center;
  }
  .articulos button {
    background: rgb(92, 92, 92);
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 1px;
    font-size: 1.2rem;
    cursor: pointer;
  }
  .articulos .a_comprar {
    background: rgb(92, 92, 92);
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
  }
  .tienda_espacio {
    margin: 0 0 2rem 0;
    text-align: center;
  }
  .tienda_titulo {
    text-decoration: underline;
    color: black;
  }
  .tienda_subtitulo {
    margin: 2rem 0 0 0;
    font-family: "pirata one", cursive;
    text-decoration: underline 3px rgb(179, 0, 0);
  }
  .p_contacto {
    font-size: 170%;
    text-align: center;
    margin: 5rem 0 2rem 0;
  }
  .p_suspicions_contact_page {
    font-size: 6rem;
    font-family: "pirata one", sans-serif;
    text-shadow: 3px 3px rgba(24, 24, 24, 0.5058823529), 5px 5px rgba(59, 59, 59, 0.39);
  }
  .logos_contact_page {
    margin: 2rem 2rem 3rem 2rem;
    font-size: 3rem;
    text-shadow: 3px 3px rgba(24, 24, 24, 0.5058823529), 5px 5px rgba(59, 59, 59, 0.39);
  }
  .margin_contacto2 {
    padding: 0 0 1rem 0;
    width: 70rem;
  }
  .margin_contacto {
    padding: 0 10rem 0 10rem;
  }
  .margin_contacto3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .redes_contacto {
    font-size: 180%;
    text-decoration: none;
  }
  .form_contact_page {
    width: 420px;
    height: 570px;
    background: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(50vh - 400px) auto;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    position: relative;
  }
  .h2_contact_page {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 180px;
    color: #78788c;
    border-bottom: 3px solid #78788c;
  }
  .input_contact_page {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: "Montserrat", sans-serif;
    transition: all 0.3s;
    border-bottom: 2px solid #bebed2;
  }
  .input_contact_page:focus {
    border-bottom: 2px solid #78788c;
  }
  .p_contact_page:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: #5a5a5a;
  }
  .button_contact_page {
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: "Montserrat", sans-serif;
    border: 2px solid #78788c;
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    transition: all 0.3s;
  }
  .button_contact_page:hover {
    background: #78788c;
    color: #fff;
  }
  .div_contact_page {
    content: "Hi";
    position: absolute;
    bottom: -25px;
    right: -40px;
    background: #50505a;
    color: #fff;
    width: 340px;
    padding: 16px 4px 16px 0;
    border-radius: 6px;
    font-size: 13px;
    box-shadow: 10px 10px 40px -14px #000;
  }
  .span_contact_page {
    margin: 0 5px 0 15px;
  }
}
@media (min-width: 1100px) {
  .nav_bar_uno {
    margin: 1rem 3.5rem 0 3.5rem;
  }
}
/* Contacto */
/* Contacto */
/* ------------------------------Footer----------------------------- */

/*# sourceMappingURL=style.css.map */
