/* .................... Contacto .................... */

.main_contacto {
  background-image: url("../images/3896.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.p_contacto {
  font-size: 100%;
  color: white;
  text-align: center;
  margin: 5rem 0;
}

.flex_contacto {
  @include flex-general(row, center);
  align-items: center;
}

.redes_contacto {
  color: white;
  font-size: 130%;
  text-decoration: none;
}

.margin_contacto {
  padding: 0 10rem 0 10rem;
}

.margin_contacto2 {
  padding: 2rem 0 2rem 0;
  font-size: 90%;
}

.logo_pequeno {
  width: 3rem;
  margin: 1rem 1rem;
  max-width: 100%;
}
