body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr auto auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

/* _-_HEADER_-_ */

header {
  background-color: $gris;
  padding: 0 0 1rem 0;
  top: 0;
  z-index: 2;
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.titulo {
  font-family: "pirata one", sans-serif;
  text-align: center;
  color: $rojo2;
  margin: 1rem 0 1rem 0;
  font-size: 220%;
}

.nav_bar_uno {
  margin: auto;
}

.nav_bar_dos {
  font-size: 100%;
}

.color_a {
  color: #e4ded0;
  font-family: "bokor", sans-serif;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 120%;

  &:hover {
    color: $rojo1;
    text-decoration: line-through;
  }
}

.buscador {
  vertical-align: middle;
  text-align: left;
  margin: 0 0 1rem 0;
  resize: none;
  font-size: 70%;
  width: 12rem;
}

.buscador_dos {
  @include flex-general(row, center);
}

/* _-_MAIN_-_ */

.main_inicio {
  background-image: url("../images/fondo_ilusion_optica.jpg");
  background-size: cover;
  background-position: center;
}

.titulo_centrado {
  text-align: center;
  padding: 1rem;
  background-color: black;
  color: white;
  font-size: 120%;
}

.container-carousel {
  max-width: 800px;
  margin: 0 auto;
}

.carousel-inner {
  max-width: 1600px;
  margin: 0 auto;
}

.carousel-item img {
  width: 100%;
}

.imagenes_inicio {
  width: 14rem;
  margin: 2rem 10rem;
  max-width: 100%;
}

.imagenes_inicio_dos {
  @include flex-general(row, center);
  gap: 10px;
}

/* _-_FOOTER_-_ */

.footer_inicio {
  background-color: $gris;
  color: white;
}

.flex_icons {
  @include flex-general(row, center);
  padding: 1rem 0 0 0;
  font-size: 120%;
}

.p_ig {
  padding: 0 3rem 0 0;
}

.logo_ig {
  color: #ff5f7c;
  margin: 0 1rem 0 2rem;
}

.p_wpp {
  padding: 0 2rem 0 0;
}

.logo_wpp {
  color: #20c67a;
  margin: 0 1rem 1rem 1rem;
}

.contacto {
  @include flex-general(row, center);
  font-size: 120%;
  padding: 1%;
}

.color_contacto {
  color: #3bb1ff;
  text-decoration: none;
  margin: 0 0 1rem 0;
  transition: color 1s;

  &:hover {
    text-decoration: underline;
    color: rgb(50, 241, 255);
  }
}
